@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Department</th>
    <th>Salary</th>
  </tr>
  <tr>
    <td>1</td>
    <td>John Doe</td>
    <td>Marketing</td>
    <td>$50,000</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Jane Smith</td>
    <td>Sales</td>
    <td>$60,000</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Robert Johnson</td>
    <td>Finance</td>
    <td>$70,000</td>
  </tr>
</table>